[package]
name = "bottom"
version = "0.3.0"
authors = ["Clement Tsang <cjhtsang@uwaterloo.ca>"]
edition = "2018"
repository = "https://github.com/ClementTsang/bottom"
keywords = ["cross-platform", "monitoring", "cli", "top", "tui"]
license = "MIT"
categories = ["command-line-utilities", "visualization"]
description = "A cross-platform graphical process/system monitor with a customizable interface and a multitude of features. Supports Linux, macOS, and Windows."
readme = "README.md"

[[bin]]
name = "btm"
path = "src/main.rs"

[profile.release]
#debug = true
debug = 1
opt-level = 3
lto = "fat"
codegen-units = 1

[dependencies]
battery = "0.7.5"
crossterm = "0.17"
chrono = "0.4.11"
clap = "2.33.0"
dirs = "2.0.2"
fern = "0.6.0"
futures = "0.3.4"
heim = "0.0.10"
itertools = "0.9.0"
log = "0.4.8"
regex = "1.3"
sysinfo = "0.14"
toml = "0.5.6"
tui = {version = "0.9", features = ["crossterm"], default-features = false }
typed-builder = "0.5.1"
lazy_static = "1.4.0"
backtrace = "0.3"
serde = {version = "1.0", features = ["derive"] }
unicode-segmentation = "1.6.0"
unicode-width = "0.1.7"

[target.'cfg(windows)'.dependencies]
winapi = "0.3.8"

[dev-dependencies]
assert_cmd = "1.0"
predicates = "1"

[package.metadata.deb]
section = "utils"
assets = [
    ["target/release/btm", "usr/bin/", "755"],
    ["LICENSE", "usr/share/doc/btm/", "644"],
    ["README.md", "usr/share/doc/btm/README", "644"],
]
extended-description = """\
By default, bottom will look for a config file in ~/.config/bottom/bottom.toml.
If one is not specified it will fall back to defaults.  If a config file does not
exist at the specified or default location, a blank one will be created for the user.
"""
