[package]
name = "bottom"
version = "0.4.7"
authors = ["Clement Tsang <cjhtsang@uwaterloo.ca>"]
edition = "2018"
repository = "https://github.com/ClementTsang/bottom"
keywords = ["cross-platform", "monitoring", "cli", "top", "tui"]
license = "MIT"
categories = ["command-line-utilities", "visualization"]
description = "A cross-platform graphical process/system monitor with a customizable interface and a multitude of features. Supports Linux, macOS, and Windows."
readme = "README.md"
default-run = "btm"

[[bin]]
name = "btm"
path = "src/bin/main.rs"
doc = false

[profile.release]
debug = 1
opt-level = 3
lto = "fat"
codegen-units = 1

[dependencies]
battery = "0.7.5"
crossterm = "0.17"
chrono = "0.4.15"
clap = "2.33"
dirs = "3.0.1"
futures = "0.3.5"
heim = "0.0.10"
itertools = "0.9.0"
regex = "1.3"
sysinfo = "0.15.0"
toml = "0.5.6"
typed-builder = "0.7.0"
lazy_static = "1.4.0"
backtrace = "0.3"
serde = {version = "1.0", features = ["derive"] }
unicode-segmentation = "1.6.0"
unicode-width = "0.1"
libc = "0.2"
ctrlc = {version = "3.1", features = ["termination"]}
# tui = {version = "0.10.0", features = ["crossterm"], default-features = false, git = "https://github.com/fdehau/tui-rs.git"}
tui = {version = "0.9.5", features = ["crossterm"], default-features = false }

# For debugging only...
fern = "0.6.0"
log = "0.4.11"

[target.'cfg(windows)'.dependencies]
winapi = "0.3.9"

[dev-dependencies]
assert_cmd = "1.0"
predicates = "1"

[package.metadata.deb]
section = "utility"
assets = [
    ["target/release/btm", "usr/bin/", "755"],
    ["LICENSE", "usr/share/doc/btm/", "644"],
    ["README.md", "usr/share/doc/btm/README", "644"],
]
extended-description = """\
By default, bottom will look for a config file in ~/.config/bottom/bottom.toml.
If one is not specified it will fall back to defaults.  If a config file does not
exist at the specified or default location, a blank one will be created for the user.
"""

[package.metadata.wix]
output = "bottom_x86_64_installer.msi"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false 
features = ["prepush-hook", "run-cargo-clippy"]