[package]
name = "bottom"
version = "0.4.7"
authors = ["Clement Tsang <cjhtsang@uwaterloo.ca>"]
edition = "2018"
repository = "https://github.com/ClementTsang/bottom"
keywords = ["cross-platform", "monitoring", "cli", "top", "tui"]
license = "MIT"
categories = ["command-line-utilities", "visualization"]
description = "A cross-platform graphical process/system monitor with a customizable interface and a multitude of features. Supports Linux, macOS, and Windows."
readme = "README.md"
default-run = "btm"
build = "build.rs"

[[bin]]
name = "btm"
path = "src/bin/main.rs"
doc = false

[profile.release]
debug = 1
opt-level = 3
lto = "fat"
codegen-units = 1

[dependencies]
anyhow = "1.0.32"
backtrace = "0.3"
battery = "0.7.6"
chrono = "0.4.19"
crossterm = "0.17"
ctrlc = {version = "3.1", features = ["termination"]}
clap = "2.33"
dirs = "3.0.1"
futures = "0.3.5"
indexmap = "1.6.0"
itertools = "0.9.0"
lazy_static = "1.4.0"
libc = "0.2"
regex = "1.3"
serde = {version = "1.0", features = ["derive"] }
sysinfo = "0.15.2"
thiserror = "1.0.20"
toml = "0.5.6"
tui = {version = "0.12.0", features = ["crossterm"], default-features = false }
typed-builder = "0.7.0"
unicode-segmentation = "1.6.0"
unicode-width = "0.1"

# For debugging only...
fern = "0.6.0"
log = "0.4.11"

[target.'cfg(not(any(target_arch = "arm", target_arch = "aarch64")))'.dependencies]
heim = "0.0.10"

[target.'cfg(windows)'.dependencies]
winapi = "0.3.9"

[dev-dependencies]
assert_cmd = "1.0"
predicates = "1"

[build-dependencies]
clap = "2.33"

[package.metadata.deb]
section = "utility"
assets = [
    ["target/release/btm", "usr/bin/", "755"],
    ["LICENSE", "usr/share/doc/btm/", "644"],
    ["completions/btm.bash", "usr/share/bash-completion/completions/btm", "644"],
    ["completions/btm.fish", "usr/share/fish/vendor_completions.d/btm.fish", "644"],
    ["completions/_btm", "usr/share/zsh/vendor-completions/", "644"],
]
extended-description = """\
A cross-platform graphical process/system monitor with a customizable interface and a multitude of
features. Supports Linux, macOS, and Windows.

By default, bottom will look for a config file in ~/.config/bottom/bottom.toml.
If one is not specified it will fall back to defaults.  If a config file does not
exist at the specified or default location, a blank one will be created for the user.
"""

[package.metadata.wix]
output = "bottom_x86_64_installer.msi"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["user-hooks"]