<?xml version="1.0" encoding="utf-8"?>
<!-- Read this before creating packages: https://chocolatey.org/docs/create-packages -->
<!-- It is especially important to read the above link to understand additional requirements when publishing packages to the community feed aka dot org (https://chocolatey.org/packages). -->

<!-- Test your packages in a test environment: https://github.com/chocolatey/chocolatey-test-environment -->

<!--
This is a nuspec. It mostly adheres to https://docs.nuget.org/create/Nuspec-Reference. Chocolatey uses a special version of NuGet.Core that allows us to do more than was initially possible. As such there are certain things to be aware of:

* the package xmlns schema url may cause issues with nuget.exe
* Any of the following elements can ONLY be used by choco tools - projectSourceUrl, docsUrl, mailingListUrl, bugTrackerUrl, packageSourceUrl, provides, conflicts, replaces 
* nuget.exe can still install packages with those elements but they are ignored. Any authoring tools or commands will error on those elements 
-->

<!-- You can embed software files directly into packages, as long as you are not bound by distribution rights. -->
<!-- * If you are an organization making private packages, you probably have no issues here -->
<!-- * If you are releasing to the community feed, you need to consider distribution rights. -->
<!-- Do not remove this test for UTF-8: if “Ω” doesn’t appear as greek uppercase omega letter enclosed in quotation marks, you should use an editor that supports UTF-8, not this one. -->
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <!-- == PACKAGE SPECIFIC SECTION == -->
    <id>bottom</id>
    <version>$version</version>

    <!-- == SOFTWARE SPECIFIC SECTION == -->
    <!-- This section is about the software itself -->
    <title>bottom</title>
    <authors>Clement Tsang</authors>
    <projectUrl>https://github.com/ClementTsang/bottom</projectUrl>
    <licenseUrl>https://github.com/ClementTsang/bottom/blob/main/LICENSE</licenseUrl>
    <requireLicenseAcceptance>true</requireLicenseAcceptance>
    <projectSourceUrl>https://github.com/ClementTsang/bottom</projectSourceUrl>
    <packageSourceUrl>https://github.com/ClementTsang/choco-bottom</packageSourceUrl>
    <docsUrl>https://clementtsang.github.io/bottom/stable</docsUrl>
    <bugTrackerUrl>https://github.com/ClementTsang/bottom/issues</bugTrackerUrl>
    <tags>cli cross-platform terminal top tui monitoring bottom btm</tags>
    <summary>A customizable cross-platform graphical process/system monitor for the terminal.</summary>
    <description>
    A customizable cross-platform graphical process/system monitor for the terminal. Supports Linux, macOS, and Windows. Inspired by [gtop](https://github.com/aksakalli/gtop), [gotop](https://github.com/xxxserxxx/gotop) and [htop](https://github.com/htop-dev/htop).

    **Usage**
    To use, run `btm` in a terminal.
    
    For more documentation and usage information, go to the [official repo](https://github.com/ClementTsang/bottom).

    Please report any issues with the Chocolatey package [here](https://github.com/ClementTsang/choco-bottom).
    
    **Note**
    This package currently depends on Visual C++ Redistributable for Visual Studio 2015 https://chocolatey.org/packages/vcredist2015. 
    </description>
    <releaseNotes>https://github.com/ClementTsang/bottom/releases/tag/$version/</releaseNotes>
  </metadata>
  <files>
    <!-- this section controls what actually gets packaged into the Chocolatey package -->
    <file src="tools\**" target="tools" />
    <!--Building from Linux? You may need this instead: <file src="tools/**" target="tools" />-->
  </files>
</package>
