[Desktop Entry]
Name=bottom
Version=0.9.6
GenericName=System Monitor
Comment=A customizable cross-platform graphical process/system monitor for the terminal.
Exec=btm
Terminal=true
Type=Application
Categories=Utility;System;ConsoleOnly;Monitor;
StartupNotify=false
